/* navigation */
#navbar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navbar ul li {
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
  padding-bottom: 25px;
}

#navbar img {
   margin-left: 0px;}

/* home section */
.btn {
  font-size: 1rem;
}
#home {
  height: 288px;
  padding: 0 5px 0 5px;
}
#home::before{ height: 579px;}
#home p {
  text-align: center;
  font-size: 1rem;
}

.h-primary {
   font-weight: bolder;
  color: white;
  font-family: "Sacramento", cursive;
  letter-spacing: 2px;
  margin: 278px 0 0 0;
  font-size: 1.8rem;
  text-align: center;
}
/* services section */
#services {
  flex-wrap: wrap;
}
/* client section */
#clients img {
  height: 90px;
}
.center {
  text-align: center;
  height: 40px;
}
.box {
  width: 250px;
}
form {
  padding: 0 40px 0 40px;
}

.h1-primary {
  color: black;
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  padding: 58px;
  text-align: center;
}
.h2-primary {
  color: black;
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  padding: 58px;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Bree Serif", serif;
  font-size: 1.4rem;
  padding: 12px;
  text-align: center;
}
#clients img {
  height: 100px;
}
